h2 {
    position: center;
    color: black;
    margin-bottom: 25px;
    font-family: work-sans;
    font-size: 45px;
    font-weight: 700;
}

h3 {
  position: left;
  color: #e3e3e3;
  margin-bottom: 0px;
  margin-left: -150px;
  font-family: work-sans;
  font-size: 60px;
  font-weight: 700;
}

h4 {
  position: left;
  color: #e3e3e3;
  margin-bottom: -30px;
  margin-left: -150px;
  font-family: work-sans;
  font-size: 35px;
  font-weight: 700;
}

p {
  position: center;
  text-align: center;
  color: black;
  margin-bottom: 45px;
  font-family: work-sans;
  font-size: 20px;
  font-weight: 400;
}

.masterfag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(50px, auto);
  margin-bottom: 125px;
}

.masterknapper.custom-button{
  width: 100px;
}



