.h2 {
    position: center;
    color: green;
}

.masterfag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(50px, auto);
}

.masterknapper.custom-button{
  width: 100px;
}

