.popup{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.popup-inner {
  border-radius: none;
  padding-left: 45px;
}

#Innrykk {
  padding-left: 45px;
}

.close-btn{
  position: relative;
  color: black;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.close-btn:hover{
  cursor: pointer;
  transform: scale(1.20);
  transition: transform 0.25s ease-out;
}