.custom-button {
    height: 50px;
    width: 600px; /* for å fikse bredden på knappene om man endrer tesksten */
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: fill;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

.custom-button:hover {
    background-color: #FFDC00;
    color: black;
    box-shadow: 0 0 20px rgba(33,33,33,.2);
    transform: scale(1.01);
    transition: transform 0.25s ease-out;
}

.custom-button, .inverted:hover {
    background-color: #FFDC00;
    color: black;
    border: none;
}

.infoknapp{
    width: 40px;
    border:none;
    background-color: white;
}

.infoknapp:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgba(33,33,33,.2);
    transform: scale(1.01);
    transition: transform 0.25s ease-out;
}