.card-container {
    width: 350px;
    margin-top: 10px;
    flex-direction: column;
    background-color: #dffa67;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    display: flex;
    justify-content: center;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

