/* Kode som kan brukes til å skjule spesifikke elementer fra print */

#printId {
    margin-top: -75px;
    margin-left: auto;
    margin-right: auto;
}

#PrintRad {
    float: center;
    width: 1410px;
    padding: 0;
    margin-left: 265px;
    margin-right: 265px;
    margin-top: 75px;
}

#PDFknapp {
    margin-bottom: 15px;
}

/* 
@media print {
    #print {
        display: block;
    }
}

*/