.klasseliste{
  display: flex;
  justify-content: space-evenly;
}
.body{
  display: flex;
  justify-content: space-evenly;
}



h2 {
  text-align: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-top: 75px;
  font-size: 42px;
  font-family: Arial;
  font-weight: 700;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 120px;
  margin-top: 25px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  text-decoration: underline;
  -webkit-text-decoration-color:#FFDC00; /* Safari */  
  text-decoration-color: #FFDC00;
}

footer {
  background-color: #FFDC00;
  padding-top: 45px;
  margin-top: 125px;
  padding-bottom: 10px;

    line-height: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

#Copyright {
  font-weight: 300;
    font-family: Arial;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

#FooterTekst {
  font-weight: 400;
    font-family: Arial;
    text-align: left;
    font-size: 17px;
}


@media screen and (max-width: 480px)  {

  h1 {
    font-size: 28px;
    line-height: 35px;
    padding-top: 20px;
  }

  footer {
    padding-left: 5%;
    padding-right: 5%;
  }



}