.klasseliste{
  display: flex;
  justify-content: space-evenly;
}
.fagcard{
  display: flex;
  justify-content: space-evenly;

}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  margin-bottom: 20px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

h2 {
  text-align: center;
}